@model EmpleadosWeb.Models.Empleado

<form asp-action="CreateAjax" method="post" id="formCrear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Puesto" class="form-label"></label>
        <input asp-for="Puesto" class="form-control" />
        <span asp-validation-for="Puesto" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Salario" class="form-label"></label>
        <input asp-for="Salario" class="form-control" />
        <span asp-validation-for="Salario" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
